.control--radio {

	margin-bottom: 0;
    padding-left: .8rem;
	
	.label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        padding-left: .5rem;
        line-height: $line-height__input-normal;
    
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: $size__checkbox;
            height: $size__checkbox;
            left: 0;
            margin-left: -2rem;
            @include input-border();
        }

        .disabled &::before {
            @include input-border(disabled);
        }
    
        &::after {
            display: inline-block;
            position: absolute;
            width: $size__checkbox;
            height: $size__checkbox;
            left: 0;
            top: 0;
            margin-left: -2rem;
            padding-left: 1px;
            font-size: 1rem;
            line-height: $line-height__input-normal - .1rem;    // fine tune 
            color: $color__check;
            @include input-border();
        }

        .disabled &::after {
            @include input-border(disabled);
        }
    }

}